:root {
    --primary-color: #219EBC;
    --secondary-color: #023047;
    --accent1-color: #FB8500;
    --accent2-color: #FFB703;
    --primary-color-rgb: 33, 158, 188;
    --secondary-color-rgb: 2, 48, 71;
    --accent1-color-rgb: 251, 133, 0;
    --accent2-color-rgb: 255, 183, 3;
}

h1, h2 {
    font-family: 'akaya kanadaka', 'Bradley Hand', cursive;
    /* color: var(--primary-color); */
    color: var(--accent1-color);
}

p {
    font-family: Roboto, Helvetica, sans-serif;
    color: var(--secondary-color);
}

.sociallinks a {
    text-decoration: none;
}

header {
    max-width: 840px;
    display: grid;
    /* grid-template-columns: 280px 2fr; */
    /* grid-template-columns: repeat(5 1fr); */
    grid-template-columns: 1fr 2fr;
    /* justify-content: space-between; */
    align-items: center;
    /* border: 1px solid var(--secondary-color); */
    background-color: var(--accent2-color); 
}

header img {
    width: 130px;
    height: auto;
    padding: 1rem 2rem 1rem 1rem;
    /* border: 1px solid var(--secondary-color); */
    grid-column: 1/2;
    /* justify-content: right; */
    justify-self: end;
    
}

header nav {
    grid-column: 2/3;
    display: flex;
    /* padding: 1rem; */
    justify-content: center;
    flex-wrap: wrap;
    gap: 0;
    padding: 0;
    /* align-items: center; */
    /* justify-self: center; */
}

header nav a {
    display: block;
    width: 110px;
    line-height: 30px;
    text-align: center;
    /* box-shadow: 1px 1px 30px gray; */
    box-shadow: 2px 2px 5px rgba(var(--secondary-color-rgb), .3);
    /* box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); */
    background-color: var(--primary-color);
    /* background-color: #fff; */
    /* padding: 0.3rem; */
    border: 2px solid var(--secondary-color);
    margin: 2px;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    font-family: Roboto, Helvetica, sans-serif;
    /* color: var(--accent2-color); */
    color: #fff;
}

header nav a:hover {
    /* color: var(--accent2-color); */
    /* box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4); */
    box-shadow: 2px 2px 5px rgba(var(--secondary-color-rgb), .5);
    /* background-color: rgb(33, 158, 188, .9); */
    background-color: rgb(2, 48, 71, .8);
    /* background-color: var(--secondary-color); */
}

main {
    max-width: 840px;
}



/* Step 5: Style the Hero Container using Position Absolute */

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
    text-align: center;
    /* font-size: 180%; */
    /* color: white; */
    color: var(--accent2-color);
    /* background-color: rgba(var(--secondary-color-rgb), .7); */
    background-color: rgba(var(--secondary-color-rgb), .7);
    padding: 5px;
    box-sizing: border-box;
}

.hero article {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    /* top: 360px; */
    bottom: 5%;
    left: 5%;
    right: 5%;    
    background-color: rgba(var(--primary-color-rgb), .7);
    padding: 10px;
    box-sizing: border-box;
}

.hero article img {
    float: right;
    /* width: 150px; */
    width: 30%;
    min-width: 50px;
    margin-left: 5px;
    height: auto;
}

.hero article p {
    color: white;
}



.history {
    margin: 0 auto;
    
}

.history-content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
    /* flex-wrap: wrap; */
}

.history h2 {
    text-align: center;
    margin-bottom: 0;
}

.history p {
    flex: 1;
    /* padding: 0 10px;     */
}

.left-text {
    padding: 0 0 0 30px;
}

.right-text {
    padding: 0 30px 0 0;
}

.history img {
    align-self: center;
    width: 20%;
    min-width: 120px;
    /* min-width: 100px; */
    /* max-width: 150px; */
    height: auto;
    /* margin: 0 10px; */
} 

.adventure {
    /* max-width: 840px; */
    /* border: 1px solid var(--secondary-color); */
    margin: 0 30px;
    box-sizing: border-box;
}

.adventure-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
}

.adventure h2 {
    text-align: center;
    /* margin-bottom: 0; */
}

.adventure figure {
    flex: 1;
    text-align: center;
    font-size: 0.9rem;
    font-family: Roboto, Helvetica, sans-serif;
    color: var(--secondary-color);
    margin: 0;
    /* width: 100px;
    height: 100px; */
}

.adventure img {
    width: 120px;
    height: 80px;
    object-fit: cover;
    /* width: 80%;
    height: 80%;
    object-fit: cover; */
    /* min-width: 100px;
    max-width: 150px; */
    /* height: auto; */
}

footer {
    position: relative;
    /* border: 1px solid var(--secondary-color); */
    margin: 20px 0 0 0;
    max-width: 840px;
    /* padding: 10px; */
    box-sizing: border-box;
}

.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--accent2-color);
}

.footer p {
    text-align: center;
    flex: 1;
    /* min-width: 300px; */
}

.footer-social {
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
}

.footer-social nav {
    display: flex;
    gap: 8px;
}

.footer-social nav a {
    display: block;
    width: 30px;
    height: 30px;
    text-align: center;
    align-content:end;
    border: 1px solid var(--secondary-color);
    background-color: #fff;
}

/* .footer-social nav a img {
    width: 100%;
    height: 100%;
} */

/* .footer-social nav a img {
    width: 100%;
    height: 100%;
} */

/* footer nav a img {
    width: 100%;
    height: 100%;
} */
/* footer nav a img {
    width: 100%;
    height: 100%;
} */

/* footer nav a img {
    width: 100%;
    height: 100%;
} */

/* .footer-social {
    float: right;
    display: flex;
} */
/* section img {
    max-width: 100%;
    height: auto;
    display: block;
} */
