:root {
    --primary-color: #219EBC;
    --secondary-color: #023047;
    --accent1-color: #FB8500;
    --accent2-color: #FFB703;
    --primary-color-rgb: 33, 158, 188;
    --secondary-color-rgb: 2, 48, 71;
    --accent1-color-rgb: 251, 133, 0;
    --accent2-color-rgb: 255, 183, 3;
}

h1{
    font-family: 'akaya kanadaka', 'Bradley Hand', cursive;
    /* color: var(--primary-color); */
    color: var(--accent1-color);
}

h2 {
    font-family: 'akaya kanadaka', 'Bradley Hand', cursive;
    color: var(--secondary-color);
    font-size: 1.7rem;
}

p, h3 {
    font-family: Roboto, Helvetica, sans-serif;
    color: var(--secondary-color);
}

.name {
    /* color: var(--primary-color); */
    font-weight: bold;
    font-size: .95rem;
}

.title {
    font-size: 0.8rem;
}

.sociallinks a {
    text-decoration: none;
}

main {
    background-color: rgba(var(--primary-color-rgb), .1);
    padding-bottom: 20px;
}

header {
    max-width: 840px;
    margin: 0 auto; /* centralized horizontally on browser */
    display: grid;
    /* grid-template-columns: 280px 2fr; */
    /* grid-template-columns: repeat(5 1fr); */
    grid-template-columns: 1fr 2fr;
    /* justify-content: space-between; */
    align-items: center;
    /* border: 1px solid var(--secondary-color); */
    /* background-color: var(--accent2-color);  */
    background-color: rgba(var(--accent2-color-rgb), 0.7);
}

header img {
    width: 130px;
    height: auto;
    padding: 1rem 2rem 1rem 1rem;
    /* border: 1px solid var(--secondary-color); */
    grid-column: 1/2;
    /* justify-content: right; */
    justify-self: end;
    
}

header nav {
    grid-column: 2/3;
    display: flex;
    /* padding: 1rem; */
    justify-content: center;
    flex-wrap: wrap;
    gap: 0;
    padding: 0;
    /* align-items: center; */
    /* justify-self: center; */
}

header nav a {
    display: block;
    width: 110px;
    line-height: 30px;
    text-align: center;
    /* box-shadow: 1px 1px 30px gray; */
    box-shadow: 2px 2px 5px rgba(var(--secondary-color-rgb), .3);
    /* box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); */
    background-color: var(--secondary-color);
    
    /* padding: 0.3rem; */
    /* border: 2px solid var(--secondary-color); */
    border: 1px solid #fff;
    margin: 2px;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    font-family: Roboto, Helvetica, sans-serif;
    /* color: var(--secondary-color); */
    color: #fff;
}

header nav a:hover {
    /* color: var(--accent2-color); */
    /* box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4); */
    box-shadow: 2px 2px 5px rgba(var(--secondary-color-rgb), .5);
    /* background-color: rgb(33, 158, 188, .9); */
    background-color: rgb(2, 48, 71, .8);
    /* background-color: var(--secondary-color); */
}

main {
    max-width: 840px;
    margin: 0 auto; /* centralized horizontally on browser */
}



/* Step 5: Style the Hero Container using Position Absolute */

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
    text-align: center;
    /* font-size: 180%; */
    /* color: white; */
    color: var(--accent2-color);
    /* background-color: rgba(var(--secondary-color-rgb), .7); */
    background-color: rgba(var(--secondary-color-rgb), .7);
    padding: 5px;
    box-sizing: border-box;
}

.hero article {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    /* top: 360px; */
    bottom: 5%;
    left: 5%;
    right: 5%;    
    /* background-color: rgba(var(--primary-color-rgb), .7); */
    background-color: rgba(var(--secondary-color-rgb), .8);
    padding: 10px;
    box-sizing: border-box;
}

.hero article img {
    float: right;
    /* width: 150px; */
    width: 30%;
    min-width: 50px;
    margin-left: 5px;
    height: auto;
}

.hero article p {
    color: white;
}

.history {
    margin: 0 auto;
    
}

.history-content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
    /* flex-wrap: wrap; */
}

.history h2 {
    text-align: center;
    margin-bottom: 0;
}

.history p {
    flex: 1;
    /* padding: 0 10px;     */
}

.left-text {
    padding: 0 0 0 30px;
}

.right-text {
    padding: 0 30px 0 0;
}

.history img {
    align-self: center;
    width: 20%;
    min-width: 120px;
    /* min-width: 100px; */
    /* max-width: 150px; */
    height: auto;
    /* margin: 0 10px; */
} 

.adventure {
    /* max-width: 840px; */
    /* border: 1px solid var(--secondary-color); */
    margin: 0 30px;
    box-sizing: border-box;
}

.adventure-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
}

.adventure h2 {
    text-align: center;
    /* margin-bottom: 0; */
}

.adventure figure {
    flex: 1;
    text-align: center;
    /* font-size: 0.9rem; */
    font-family: Roboto, Helvetica, sans-serif;
    color: var(--secondary-color);
    margin: 0;
    /* width: 100px;
    height: 100px; */
}

/* .adventure-name {
    font-weight: bold;
    font-size: 0.9rem;
} */

.adventure img {
    width: 120px;
    height: 80px;
    object-fit: cover;
    box-shadow: 2px 2px 5px rgba(var(--secondary-color-rgb), 0.6);
    /* width: 80%;
    height: 80%;
    object-fit: cover; */
    /* min-width: 100px;
    max-width: 150px; */
    /* height: auto; */
}

footer {
    max-width: 840px;
    margin: 20px auto 0; /* centralized horizontally on browser */
    margin: 0 auto; /* centralized horizontally on browser */
    /* padding-top: ; */
    /* margin: 0 auto; */
    /* margin: 20px 0 0 0; */
    position: relative;
    /* border: 1px solid var(--secondary-color); */
    
    /* padding: 10px; */
    box-sizing: border-box;
}

.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgba(var(--accent2-color-rgb), 0.7);
}

.footer p {
    text-align: center;
    flex: 1;
    /* min-width: 300px; */
}

.footer-social {
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
}

.footer-social nav {
    display: flex;
    gap: 8px;
}

.footer-social nav a {
    display: block;
    width: 30px;
    height: 30px;
    text-align: center;
    align-content:end;
    border: 1px solid var(--secondary-color);
    background-color: #fff;
}

/* Contact Us Page */

.our-team {
    /* max-width: 840px; */
    /* border: 1px solid var(--secondary-color); */
    text-align: center;
    margin: 0 30px;
    box-sizing: border-box;
}

.our-team-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
}

/* .our-team h2 {
    text-align: center;
} */

.our-team p {
    text-align: center;
    margin: 0 auto;
}

.our-team figure {
    flex: 1;
    text-align: center;
    font-family: Roboto, Helvetica, sans-serif;
    color: var(--secondary-color);
    margin: 20px 0 0 0;
}

/* .our-team-name {
    font-weight: bold;
    font-size: .9rem;
} */

.our-team-title {
    font-size: 0.9rem;
}

.our-team img {
    
    height: 180px;
    width: auto;
    /* border: 1px solid var(--secondary-color); */
    box-shadow: 2px 2px 5px rgba(var(--secondary-color-rgb), 0.6);
    /* object-fit: cover; */
    /* width: 80%;
    height: 80%;
    object-fit: cover; */
    /* min-width: 100px;
    max-width: 150px; */
    /* height: auto; */
}

.information {
    margin: 0 auto;
    max-width: 840px;
    text-align: left;
    
}

.information-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    gap: 1rem;
    /* flex-wrap: wrap; */
}

.information h2 {
    text-align: center;
    /* margin-bottom: 0; */
}

.information h3 {
    color: #000;
    padding: 0 10px;
    margin: 0 0 5px 0;
}

.information p {
    flex: 1;
    padding: 0 10px;
    margin: 0;    
}

.information iframe {
    display: block;
    width: 300px;
    height: 170px;
    border: 1px solid var(--secondary-color);
    margin: 0px auto;
}

.send-message {
    margin: 0 auto;
    max-width: 840px;
}

.send-message h2 {
    text-align: center;
    /* margin-bottom: 0; */
}

.send-message form {
    /* width: 400px; */
    width: 50%;
    min-width: 300px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid var(--secondary-color);
    border-radius: 0.5rem;
    background-color: rgba(var(--primary-color-rgb), .2);
    display: grid;
    
}

.send-message label, input, button, select, textarea {
    font-family: Roboto, Arial, sans-serif;
    /* margin-top: 5px; */
}

.send-message label {
    text-align: left;
    font-size: 0.9rem;
    padding-top: 0.5rem;
}

.send-message input, select, textarea {
    padding: 0.2rem;
    font-size: 0.9rem;
    /* width: 97.5%; */
}

.form-item {
    display: grid;
    grid-template-columns: 30px 1fr;
    /* justify-content: flex-start; */
    justify-items: left;
    align-self: baseline;
    /* align-items: baseline; */
    padding-top: 0px;
    /* margin: 0.5rem 0; */
}

button {
    margin: 1rem;
    width: 190px;
    justify-self: center;
    background-color: var(--secondary-color);
    color: #fff;
    /* color: var(--secondary-color); */
    border: none;
    border-radius: .5rem;
    padding: .5rem;
    font-size: 1.2rem;
}
  
button:hover {
    background-color: var(--primary-color);
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    vertical-align: bottom;
    margin-top: 6px;
}

input[type="radio"] {
    width: 15px;
    height: 15px;
    margin-top: 8px;
    /* vertical-align: text-bottom; */
}

/* .hero-index {
    position: relative;
} */

/* .hero-index img {
    display: block;
    width: 100%;
    height: auto; 
} */

/* .hero-index h1 {
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
    text-align: center;
    color: var(--accent2-color);
    background-color: rgba(var(--secondary-color-rgb), .7);
    padding: 5px;
    box-sizing: border-box;
} */

/* .hero-index article {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 320px;
    left: 5%;
    right: 5%;    
    background-color: rgba(var(--secondary-color-rgb), .8);
    padding: 10px;
    box-sizing: border-box;
} */

/* .hero-index article p {
    color: white;
} */

/* Home Page Additions */
.newsletter {
    position: relative;
    margin: 30px auto;
    max-width: 840px;
    /* text-align: center; */
}

.newsletter img {
    /* position: absolute; */
    width: 70%;
    height: auto;
    min-width: 320px;
    min-height: 330px;
    padding-left: 40px;
    object-fit: cover;
    justify-content: left;
}

.newsletter form {
    position: absolute;
    /* top: 10px; */
    top: 50%;
    transform: translateY(-50%);
    right: 40px;
    /* width: 50%; */
    width: 230px;
    height: 230px;
    /* min-width: 300px; */
    margin: 0 auto;
    
    /* box-sizing: border-box; */
    padding: 1rem;
    border: 1px solid var(--secondary-color);
    /* border-radius: 0.5rem; */
    /* background-color: rgba(var(--primary-color-rgb), .2); */
    background-color: var(--secondary-color);
    box-shadow: 2px 2px 5px rgba(var(--secondary-color-rgb), 0.6);
    color: #fff;
    display: grid;
    text-align: center;
}

.newsletter label, input, button, select, textarea {
    font-family: Roboto, Arial, sans-serif;
}

.newsletter button {
    margin: 1rem;
    width: 190px;
    justify-self: center;
    background-color: var(--accent2-color);
    color: var(--secondary-color);
    /* color: var(--secondary-color); */
    border: none;
    border-radius: .5rem;
    padding: .5rem;
    font-size: 1.2rem;
}
  
.newsletter button:hover {
    background-color: var(--accent1-color);
}

.newsletter h2 {
    margin: 0;
    color: var(--accent2-color);
}

.newsletter label {
    text-align: left;
    font-size: 0.9rem;
    padding-top: 0.5rem;
}

.newsletter input, select, textarea {
    padding: 0.2rem;
    font-size: 0.9rem;
}

.cta-home {
    text-align: center;
    margin: 2rem 30px;
}

.cta-home-button {
    display: inline-block;
    /* background-color: var(--secondary-color); */
    background-color: var(--accent2-color);
    /* color: #fff; */
    color: var(--secondary-color);
    box-shadow: 2px 2px 5px rgba(var(--secondary-color-rgb), 0.6);
    /* padding: 0.5rem 1rem; */
    padding: 0.7rem 1.8rem;
    /* border-radius: 0.5rem; */
    text-decoration: none;
    /* font-family: Roboto, Helvetica, sans-serif; */
    font-family: 'akaya kanadaka', 'Bradley Hand', cursive;
    font-weight: bold;
    font-size: 1.8rem;
    
}

.cta-home-button:hover {
    background-color: var(--accent1-color);
}

.company-purpose {
    text-align: center;
    margin: 0 30px;
    box-sizing: border-box;
}

.company-purpose-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    justify-items: center;
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px; */
}

.company-purpose figure {
    text-align: center;
    font-family: Roboto, Helvetica, sans-serif;
    color: var(--secondary-color);
    margin: 0;
    /* flex: 1;
    text-align: center;
    font-family: Roboto, Helvetica, sans-serif;
    color: var(--secondary-color);
    margin: 20px 0 0 0; */
}

/* .company-purpose-name {
    font-weight: bold;
    font-size: .95rem;
} */

.company-purpose-title {
    font-size: 0.8rem;
}

.company-purpose img {
    /* width: 150px;
    height: 100px; */
    /* max-height: 170px; */
    height: auto;
    /* width: 250px; */
    width: 90%;
    min-width: 150px;
    max-width: 350px;
    object-fit: cover;
    box-shadow: 2px 2px 5px rgba(var(--secondary-color-rgb), 0.6);
}

.company-purpose p {
    margin: 0.5rem 0;
}

/* Trips Page Additions */

.cta-trip {
    position: absolute;
    text-align: center;
    margin: 2%;
    /* top:290px; */
    /* top:55%; */
    /* left: 60%; */
    bottom: 0%;
    /* min-height: 110px;
    min-width: 220px; */
    right: 0%;
    background-color: rgba(var(--secondary-color-rgb), .8);
    padding: 1rem;
    /* box-shadow: 2px 2px 5px rgba(var(--secondary-color-rgb), 0.6); */
    box-sizing: border-box;    
}

.cta-trip-button {
    display: inline-block;
    /* background-color: var(--secondary-color); */
    background-color: var(--accent2-color);
    /* color: #fff; */
    color: var(--secondary-color);
    box-shadow: 2px 2px 5px rgba(var(--secondary-color-rgb), 0.6);
    /* padding: 0.5rem 1rem; */
    padding: 0.3rem 1rem;
    /* border-radius: 0.5rem; */
    text-decoration: none;
    /* font-family: Roboto, Helvetica, sans-serif; */
    font-family: 'akaya kanadaka', 'Bradley Hand', cursive;
    font-weight: bold;
    font-size: 1.2rem;
    
}

.cta-trip-button:hover {
    background-color: var(--accent1-color);
}

.cta-trip h2 {
    margin: 0;
    font-size: 1.5rem;
    /* color: var(--accent2-color); */
    color: #fff;
}

.cta-trip p {
    font-size: .9rem;
    color: #fff;
}

.trip-details {
    margin: 0 30px;
    text-align: center;
}

.trip-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 30px;
    justify-items: center;
}

.trip-details figure {
    text-align: center;
    font-family: Roboto, Helvetica, sans-serif;
    color: var(--secondary-color);
    margin: 0;
}

/* .trip-details-name {
    font-weight: bold;
    font-size: .9rem;
} */

/* .trip-details-title {
    font-size: 0.9rem;
} */

.trip-details img {
    width: 230px;
    height: 150px;
    object-fit: cover;
    box-shadow: 2px 2px 5px rgba(var(--secondary-color-rgb), 0.6);
}

.trip-details p {
    margin: 0.5rem 0;
}

.trip-table {
    margin: 2rem 30px;
    text-align: center;
}

.trip-table table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
}

.trip-table th, .trip-table td {
    border: 1px solid var(--secondary-color);
    padding: 0.5rem;
    font-family: Roboto, Helvetica, sans-serif;
    color: var(--secondary-color);
    /* color: var(--accent2-color); */
}

.trip-table th {
    /* background-color: rgba(var(--primary-color-rgb), .2); */
    background-color: var(--accent2-color);
}