:root {
    --correct-blue-color: darkblue;
    --correct_align: center;
    --border-thickness: 1px;
    --correct-padding-marging: 1rem;
    --correct-height: auto;
}

nav {
    background-color: var(--correct-blue-color);
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: var(--correct-blue-color);
}

main img {
    width: 150px;
    height: var(--correct-height);
    border: var(--border-thickness) solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

main {
    max-width: 840px;
}

aside {
    width: 20rem;
    margin: var(--correct-padding-marging);
    border: var(--border-thickness) solid rgb(0 0 0 / 0.2); 
    padding: var(--correct-padding-marging);
    background-color: #eee;
    color: #333;
    text-align: var(--correct_align);
}

aside img {
    width: 200px;
    height: var(--correct-height);
}

footer {
    margin-top: 15px;
    border-top: var(--border-thickness) solid #000;
    text-align: var(--correct_align);
}